<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lucky.sweet">

    <!-- 定位的实现 -->
    <!-- 通过GPS得到精确位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 通过网络得到粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 访问网络. 某些位置信息需要从网络服务器获取 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 访问WiFi状态. 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 修改WiFi状态. 发起WiFi扫描, 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 访问网络状态, 检测网络的可用性. 需要网络运营商相关信息用于网络定位 -->
    <!-- 判断网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 访问网络的变化, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!-- 访问手机当前状态, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/haha"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/haha"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
        </activity>
        <activity
            android:name=".activity.BaseActivity"
            android:label="@string/title_activity_basic"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".activity.UserLoginActivity">
        </activity>
        <activity android:name=".activity.UserRegisterActivity">
        </activity>
        <activity
            android:name=".activity.StoreParticularInfoActivity"/>

        <meta-data
            android:name="TencentMapSDK"
            android:value="DUSBZ-LL63F-FOIJI-J2GW4-TWNFT-FEFBB"/>

        <activity android:name=".activity.StoreDisplatActivity"/>
        <activity android:name=".activity.SetUserInfoActivity"/>
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.OrderSeatActivity"/>
        <activity
            android:name=".activity.OrderActivity"
            android:label="@string/title_activity_order"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>